* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

header {
  display: flex;
  align-items: center;
  background-color: #495867;
  height: 80px;
}
header h1 {
  color: #fe5f55;
  margin-left: 5px;
  margin: 0px 40px;
}
header nav a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  margin-left: 20px;
  color: #f7f7ff;
  font-size: 1em;
}
header nav a:hover {
  color: #fe5f55;
  border-bottom: 1px solid #fe5f55;
}
@media only screen and (max-width: 480px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
  }
  header nav a {
    margin: 0px 5px;
  }
}

.container {
  padding: 50px 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.container .search-form {
  margin-bottom: 50px;
}
.container .search-form select {
  width: 200px;
  height: 30px;
  margin: 0px 5px;
}
.container .search-form .btn-search, .container .search-form .btn-clean {
  background-color: #fe5f55;
  color: #f7f7ff;
  font-weight: bold;
  border: 1px solid #fe5f55;
  border-radius: 5px;
  margin: 0px 2px;
  padding: 7px 10px;
  cursor: pointer;
}
.container .search-form .btn-search:hover, .container .search-form .btn-clean:hover {
  background-color: #ca473e;
  border: 1px solid #ca473e;
}
.container .search-form .btn-clean {
  color: #353535;
  background-color: #f7f7ff;
  border: 1px solid #353535;
}
.container .search-form .btn-clean:hover {
  background-color: #9cafc9;
  border: 1px solid #9cafc9;
  color: #f7f7ff;
}
@media only screen and (max-width: 980px) {
  .container .search-form select {
    width: 150px;
  }
}
@media only screen and (max-width: 810px) {
  .container .search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .container .search-form select {
    width: 200px;
    margin-top: 20px;
  }
  .container .search-form .btn-search, .container .search-form .btn-clean {
    margin-top: 20px;
  }
}
.container #container-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1365px;
}
.container #container-cards .dot-spinner {
  --uib-size: 40px;
  --uib-speed: .9s;
  --uib-color: #495867;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}
.container #container-cards .dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}
.container #container-cards .dot-spinner__dot::before {
  content: "";
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse calc(var(--uib-speed) * 1.111) ease-in-out infinite;
}
.container #container-cards .dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}
.container #container-cards .dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}
.container #container-cards .dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}
.container #container-cards .dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}
.container #container-cards .dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}
.container #container-cards .dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}
.container #container-cards .dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}
.container #container-cards .dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}
.container #container-cards .dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}
.container #container-cards .dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}
.container #container-cards .dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}
.container #container-cards .dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}
.container #container-cards .dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}
.container #container-cards .dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}
@keyframes pulse {
  0%, 100% {
    transform: scale(0);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}
.container #container-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 300px;
  border: 0.5px solid #495867;
  border-radius: 5px;
  margin: 10px;
  padding: 25px;
}
.container #container-cards .card h3 {
  margin-bottom: 10px;
  color: #fe5f55;
  font-size: 1.4em;
}
.container #container-cards .card .description-container {
  width: 100%;
}
.container #container-cards .card .description-container p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 20px;
  color: #353535;
  font-size: 0.9em;
}
.container #container-cards .card .search-options {
  display: flex;
  margin-bottom: 20px;
}
.container #container-cards .card .search-options p {
  margin-right: 10px;
  font-weight: bold;
  font-size: 0.7em;
  background-color: #495867;
  border: 1px solid #495867;
  padding: 5px;
  border-radius: 5px;
  color: #f7f7ff;
}
.container #container-cards .card .btn-detail {
  width: 40%;
  background-color: #fe5f55;
  color: #f7f7ff;
  font-weight: bold;
  border: 1px solid #fe5f55;
  border-radius: 5px;
  margin: 0px 2px;
  padding: 7px 10px;
  cursor: pointer;
}
.container #container-cards .card .btn-detail:hover {
  background-color: #ca473e;
  border: 1px solid #ca473e;
}
@media only screen and (max-width: 970px) {
  .container {
    padding: 50px 10px;
  }
}

footer {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  background-color: #495867;
  /*position: absolute;
  bottom: 0;*/
}
footer p {
  color: #f7f7ff;
  font-size: 1em;
}

.card-detail {
  min-width: 600px;
  width: 60%;
  border: 1px solid #495867;
  border-radius: 5px;
  padding: 40px;
  margin-bottom: 50px;
}
.card-detail h3 {
  color: #fe5f55;
  margin-bottom: 10px;
  font-size: 1.5em;
}
.card-detail p {
  color: #353535;
  margin-bottom: 10px;
}
.card-detail p span {
  font-weight: bold;
}
.card-detail .detail-technologies {
  margin-bottom: 30px;
  font-weight: bold;
  color: #fe5f55;
}
.card-detail .detail-technologies span {
  color: #353535;
}
.card-detail .btn-edit {
  background-color: #65d132;
  color: #f7f7ff;
  font-weight: bold;
  border: 1px solid #65d132;
  border-radius: 5px;
  margin: 0px 2px;
  padding: 7px 10px;
  cursor: pointer;
}
.card-detail .btn-edit:hover {
  background-color: #498d29;
  border: 1px solid #498d29;
  color: #f7f7ff;
}
.card-detail .btn-delete {
  background-color: #e22522;
  color: #f7f7ff;
  font-weight: bold;
  border: 1px solid #e22522;
  border-radius: 5px;
  margin: 0px 2px;
  padding: 7px 10px;
  cursor: pointer;
}
.card-detail .btn-delete:hover {
  background-color: #b41c19;
  border: 1px solid #b41c19;
  color: #f7f7ff;
}
.card-detail .btn-cancel {
  background-color: #f7f7ff;
  color: #353535;
  font-weight: bold;
  border: 1px solid #f7f7ff;
  border-radius: 5px;
  margin: 0px 2px;
  padding: 7px 10px;
  cursor: pointer;
  border: 1px solid #353535;
}
.card-detail .btn-cancel:hover {
  background-color: #9cafc9;
  border: 1px solid #9cafc9;
  color: #f7f7ff;
}
@media only screen and (max-width: 630px) {
  .card-detail {
    min-width: 10%;
    width: 90%;
  }
}
@media only screen and (max-width: 355px) {
  .card-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .card-detail .btn-delete, .card-detail .btn-cancel {
    margin-top: 10px;
  }
}

.success-confirmation, .warning-alert {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  margin-bottom: 70px;
  width: 70%;
  background-color: #a0fd74;
  border: 1px solid #498d29;
  border-radius: 5px;
}
.success-confirmation .alert-container, .warning-alert .alert-container {
  display: flex;
  align-items: center;
}
.success-confirmation .alert-container .fa-solid, .warning-alert .alert-container .fa-solid {
  font-size: 2em;
  color: #498d29;
  margin-right: 20px;
}
.success-confirmation .alert-container p, .warning-alert .alert-container p {
  font-weight: bold;
}
.success-confirmation .btn-back, .warning-alert .btn-back {
  background-color: #f7f7ff;
  color: #353535;
  font-weight: bold;
  border: 1px solid #f7f7ff;
  border-radius: 5px;
  margin: 0px 2px;
  padding: 7px 10px;
  cursor: pointer;
  border: 1px solid #353535;
}
.success-confirmation .btn-back:hover, .warning-alert .btn-back:hover {
  background-color: #7f9dc7;
  border: 1px solid #7f9dc7;
  color: #f7f7ff;
}
@media only screen and (max-width: 960px) {
  .success-confirmation, .warning-alert {
    flex-direction: column;
  }
  .success-confirmation .alert-container, .warning-alert .alert-container {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 550px) {
  .success-confirmation, .warning-alert {
    padding: 30px;
  }
  .success-confirmation .alert-container, .warning-alert .alert-container {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .success-confirmation .alert-container .fa-solid, .warning-alert .alert-container .fa-solid {
    margin-right: 0px;
  }
  .success-confirmation .alert-container p, .warning-alert .alert-container p {
    margin-top: 20px;
    text-align: center;
  }
}

.warning-alert {
  background-color: #faaead;
  border: 1px solid #f73633;
}
.warning-alert .alert-container .fa-solid {
  color: #f73633;
}

#container-cards .delete-confirmation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #faaead;
  border: 1px solid #f73633;
  border-radius: 5px;
  padding: 50px;
  margin-bottom: 70px;
}
#container-cards .delete-confirmation .alert-container {
  display: flex;
  align-items: center;
}
#container-cards .delete-confirmation .alert-container .fa-solid {
  font-size: 2em;
  color: #f73633;
  margin-right: 20px;
}
#container-cards .delete-confirmation .alert-container p {
  font-weight: bold;
}
#container-cards .delete-confirmation .btn-container {
  margin-top: 20px;
}
#container-cards .delete-confirmation .btn-container .btn-delete {
  background-color: #e22522;
  color: #f7f7ff;
  font-weight: bold;
  border: 1px solid #e22522;
  border-radius: 5px;
  margin: 0px 2px;
  padding: 7px 10px;
  cursor: pointer;
  margin-right: 40px;
}
#container-cards .delete-confirmation .btn-container .btn-delete:hover {
  background-color: #b41c19;
  border: 1px solid #b41c19;
  color: #f7f7ff;
}
#container-cards .delete-confirmation .btn-container .btn-back {
  background-color: #f7f7ff;
  color: #353535;
  font-weight: bold;
  border: 1px solid #f7f7ff;
  border-radius: 5px;
  margin: 0px 2px;
  padding: 7px 10px;
  cursor: pointer;
  border: 1px solid #353535;
}
#container-cards .delete-confirmation .btn-container .btn-back:hover {
  background-color: #7f9dc7;
  border: 1px solid #7f9dc7;
  color: #f7f7ff;
}
@media only screen and (max-width: 330px) {
  #container-cards .delete-confirmation {
    justify-content: center;
    align-items: center;
  }
  #container-cards .delete-confirmation .alert-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #container-cards .delete-confirmation .alert-container .fa-solid {
    margin-right: 0px;
  }
  #container-cards .delete-confirmation .alert-container p {
    margin-top: 20px;
  }
  #container-cards .delete-confirmation .btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #container-cards .delete-confirmation .btn-container .btn-delete {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}

.job-form {
  display: none;
  width: 70%;
}
.job-form form {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.job-form form label {
  margin-bottom: 20px;
  color: #fe5f55;
  font-weight: bold;
}
.job-form form select, .job-form form input {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
}
.job-form form .select-technologies {
  height: 100px;
  margin-bottom: 10px;
}
.job-form form p {
  font-size: 0.9em;
  margin-bottom: 40px;
}
.job-form form textarea {
  height: 100px;
  margin-bottom: 20px;
}
.job-form form .btn-container {
  flex-direction: row;
}
.job-form form .btn-container .btn-save {
  background-color: #fe5f55;
  color: #f7f7ff;
  font-weight: bold;
  border: 1px solid #fe5f55;
  border-radius: 5px;
  margin: 0px 2px;
  padding: 7px 10px;
  cursor: pointer;
  margin-right: 20px;
}
.job-form form .btn-container .btn-save:hover {
  background-color: #ca473e;
  border: 1px solid #ca473e;
}
.job-form form .btn-container .btn-cancel {
  background-color: #f7f7ff;
  color: #353535;
  font-weight: bold;
  border: 1px solid #f7f7ff;
  border-radius: 5px;
  margin: 0px 2px;
  padding: 7px 10px;
  cursor: pointer;
  border: 1px solid #353535;
}
.job-form form .btn-container .btn-cancel:hover {
  background-color: #9cafc9;
  border: 1px solid #9cafc9;
  color: #f7f7ff;
}
.job-form form .btn-container .d-none {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
