$primary--color: #f7f7ff;
$secondary--color: #495867;
$accent--color: #fe5f55;
$font--color--primary: #353535;
$font--color--secondary: #f7f7ff;
$font--color--accent: #fe5f55;
$button--hover--primary: #ca473e;
$button--hover--secondary: #9cafc9;
$button--edit--primary: #65d132;
$button--edit--hover: #498d29;
$button--delete--primary: #e22522;
$button--delete--hover: #b41c19;
$font--family: 'Quicksand', sans-serif;
$font--size--small: 1em;
$font--size--medium: 1.5em;