.success-confirmation{
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin-bottom: 70px;
    width: 70%;
    background-color: #a0fd74;
    border: 1px solid $button--edit--hover;
    border-radius: 5px;
    .alert-container{
        display: flex;
        align-items: center;
        .fa-solid{
            font-size: $font--size--large;
            color: $button--edit--hover;
            margin-right: 20px;
        }
        p{
            font-weight: bold;
        }
    }
    .btn-back{
        @include button_style ($background: $primary--color, $color: $font--color--primary);
        border: 1px solid $font--color--primary;
        &:hover{
            background-color: #7f9dc7;
            border: 1px solid #7f9dc7;
            color: $font--color--secondary;
        }
    }
    @media only screen and (max-width: 960px){
        flex-direction: column;
        .alert-container{
            margin-bottom: 20px;
        }
    }
    @media only screen and (max-width: 550px){
        padding: 30px;
        .alert-container{
            flex-direction: column;
            margin-bottom: 20px;
            .fa-solid{
                margin-right: 0px;
            }
            p{
                margin-top: 20px;
                text-align: center;
            }
        }
    }
}

.warning-alert{
    @extend .success-confirmation;
    background-color: #faaead;
    border: 1px solid #f73633;
    .alert-container{
        .fa-solid{
            color: #f73633;
        }
    }
}

#container-cards{
    .delete-confirmation{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #faaead;
        border: 1px solid #f73633;
        border-radius: 5px;
        padding: 50px;
        margin-bottom: 70px;
        .alert-container{
            display: flex;
            align-items: center;
            .fa-solid{
                font-size: $font--size--large;
                color: #f73633;
                margin-right: 20px;
            }
            p{
                font-weight: bold;
            }
        }
        .btn-container{
            margin-top: 20px;
            .btn-delete{
                @include button_style ($background: $button--delete--primary, $color: $font--color--secondary);
                margin-right: 40px;
                &:hover{
                    background-color: $button--delete--hover;
                    border: 1px solid $button--delete--hover;
                    color: $font--color--secondary;
                }
            }
            .btn-back{
                @include button_style ($background: $primary--color, $color: $font--color--primary);
                border: 1px solid $font--color--primary;
                &:hover{
                    background-color: #7f9dc7;
                    border: 1px solid #7f9dc7;
                    color: $font--color--secondary;
                }
            }
        }
        @media only screen and (max-width: 330px){
            justify-content: center;
            align-items: center;
            .alert-container{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                .fa-solid{
                    margin-right: 0px;
                }
                p{
                    margin-top: 20px;
                }
            }
            .btn-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                //text-align: center;
                
                .btn-delete{
                    margin-right: 0px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}


