.container{
  padding: 140px 90px 50px 90px;
  @include flex-display();
  flex-direction: column;
  .search-form{
    margin-bottom: 50px;
      select{
        width: 200px;
        height: 30px; 
        margin: 0px 5px;
      }
      .btn-search{
        @include button_style();
          &:hover{
            background-color: $button--hover--primary;
            border: 1px solid $button--hover--primary;
          }
      }
      .btn-clean{
        @extend .btn-search;
        color: $font--color--primary;
        background-color: $primary--color;
        border: 1px solid $font--color--primary;
        &:hover{
          background-color: $button--hover--secondary;
          border: 1px solid $button--hover--secondary;
          color: $font--color--secondary;
        }
      }
      @media only screen and (max-width: 980px){
          select{
            width: 150px;
          }
      }
      @media only screen and (max-width: 810px){
        @include flex-display($wrap: nowrap);
        flex-direction: column;
        select{
          width: 200px;
          margin-top: 20px;
        }
        .btn-search, .btn-clean{
          margin-top: 20px;
        }
      }
  }
  #container-cards{
    @include flex-display();
    max-width: 1365px;
    .dot-spinner {
      --uib-size: 40px;
      --uib-speed: .9s;
      --uib-color: #495867;

      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: var(--uib-size);
      width: var(--uib-size);
    }
    .dot-spinner__dot {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 100%;
      width: 100%;
    }
    .dot-spinner__dot::before {
      content: '';
      height: 20%;
      width: 20%;
      border-radius: 50%;
      background-color: var(--uib-color);
      transform: scale(0);
      opacity: 0.5;
      animation: pulse calc(var(--uib-speed) * 1.111) ease-in-out infinite;
    }
    .dot-spinner__dot:nth-child(2) {
      transform: rotate(45deg);
    }
    .dot-spinner__dot:nth-child(2)::before {
      animation-delay: calc(var(--uib-speed) * -0.875);
    }
    .dot-spinner__dot:nth-child(3) {
      transform: rotate(90deg);
    }
    .dot-spinner__dot:nth-child(3)::before {
      animation-delay: calc(var(--uib-speed) * -0.75);
    }
    .dot-spinner__dot:nth-child(4) {
      transform: rotate(135deg);
    }
    .dot-spinner__dot:nth-child(4)::before {
      animation-delay: calc(var(--uib-speed) * -0.625);
    }
    .dot-spinner__dot:nth-child(5) {
      transform: rotate(180deg);
    }
    .dot-spinner__dot:nth-child(5)::before {
      animation-delay: calc(var(--uib-speed) * -0.5);
    }
    .dot-spinner__dot:nth-child(6) {
      transform: rotate(225deg);
    }
    .dot-spinner__dot:nth-child(6)::before {
      animation-delay: calc(var(--uib-speed) * -0.375);
    }
    .dot-spinner__dot:nth-child(7) {
      transform: rotate(270deg);
    }
    .dot-spinner__dot:nth-child(7)::before {
      animation-delay: calc(var(--uib-speed) * -0.25);
    }
    .dot-spinner__dot:nth-child(8) {
      transform: rotate(315deg);
    }
    .dot-spinner__dot:nth-child(8)::before {
      animation-delay: calc(var(--uib-speed) * -0.125);
    }
    @keyframes pulse {
      0%,
      100% {
        transform: scale(0);
        opacity: 0.5;
      }
      50% {
        transform: scale(1);
        opacity: 1;
      }
    }      
    .card{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 300px;
      height: 300px;
      border: 0.5px solid $secondary--color;
      border-radius: 5px;
      margin: 10px;
      padding: 25px;
      h3{
        margin-bottom: 10px;
        color: $font--color--accent;
        font-size: $font--size--small + 0.4em;
      }
      .description-container {
        width: 100%;
        p{
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;  
          overflow: hidden;
          margin-bottom: 20px;
          color: $font--color--primary;
          font-size: $font--size--small - 0.1em;
        } 
      }
      .search-options{
        display: flex;
        margin-bottom: 20px;
        p{
          margin-right: 10px;
          font-weight: bold;
          font-size: $font--size--small - 0.3em;
          background-color: $secondary--color;
          border: 1px solid $secondary--color;
          padding: 5px;
          border-radius: 5px;
          color: $font--color--secondary;
        }
      }
      .btn-detail{
        width: 40%;
        @include button_style();
        &:hover{
          background-color: $button--hover--primary;
          border: 1px solid $button--hover--primary;
        }
      }
    }
  }
  @media only screen and (max-width: 970px){
    padding: 140px 10px 50px 10px;
  }
}

